{% extends 'base.html' %}

{% block main %}
<div class="text-start mx-5 py-4 mb-5 border-top border-dark">
    <p class="h1 mb-4">How to add image for processing</p>
    <p class="h3 text-secondary">1. Click on the "Add Image" link in the navigation bar.</p>
    <p class="h3 text-secondary">2. Select the image you want to add from your device.</p>
    <p class="h3 text-secondary">3. Click the "Upload" button to add the image.</p>
</div>

<div class="text-start mx-5 py-4 border-top border-dark">
    <p class="h1 mb-4">How to view images after processing</p>
    <p class="h3 text-secondary">1. Click on the "List Images" link in the navigation bar.</p>
    <p class="h3 text-secondary">2. You will see a list of images that have been processed.</p>
    <p class="h3 text-secondary">3. Click on any image to view it in detail.</p>
</div>
{% endblock %}
